

.azeret-mono-normal {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}


.banner-bg{
    background-image:url('../assets/Hero-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-content{
    max-width:396x;
    text-align: center;
 }
 #banner-profile-pic{
    width: 150px;
    background: rgb(0, 0, 114,0.3);
}

.banner-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 36px;
    font-weight: 800;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
}

.banner-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    opacity: 0.7;

}

.btn-primary{
    border-radius: 8px;
    background: rgb(13, 19, 33);
    color:white;
    font-size: 20px;
    font-weight: bold;
    padding: 21px 24px 21px 24px;
    border:none;
}
 
main{
    max-width:1140;
    margin: 0 auto;
}




.section-container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    padding: 0px; 
    margin: 20px auto;   
}
.section-title{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
}

.section-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
    text-align: center;
}

.sec-title{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.sec-description{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.btn-1{
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    padding: 10px 12px 10px 12px;
    border: none;
    margin: 10px 0px;
}

.image-1,.image-2,.image-3{
    width: 200px;
}

.video-sec{
    text-align: center;
    margin-top: 50px;
}
